/* estilos para la barra de navegación */
nav {
    background-color: #4285F4;
    color: white;
    padding: 10px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  nav a {
    color: white;
    text-decoration: none;
  }
  
  /* estilos para el encabezado */
  header {
    background-color: #F1F3F4;
    padding: 20px;
    text-align: center;
  }*/
  
  /* estilos para el formulario de traducción */
  form {
    margin-top: 30px;
    text-align: center;
  }
  form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
  }
  form input[type="text"] {
    border: 2px solid #4285F4;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }

  #resultado {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
  }

  /* estilos para el pie de página */
  footer{
    margin-top: 20px;
    background-color: #F1F3F4;
    color: #4285F4;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
  }

  footer p{
    margin: 0;
    font-size: 16px;
  }